<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</head>

<body>

<header class="background_gray" th:replace="header :: header"></header>


<div class="container">
    <div class="row ">
        <div class="col-2 mt-4">
            <ul class="list-group">
                <g>
                    <a class="btn btn-success fixed" th:href="@{/}" data-toggle="tooltip" data-placement="top"
                       title="alle Kategorien">
                        <i class="material-icons mt-1">
                            highlight_off
                        </i>
                    </a>
                </g>
                <g th:each="category:${categorys}">
                    <a class="btn btn-success fixed" th:href="@{/byCategory(categoryId=${category.getId()})}"
                       th:text="${category.name}"></a>
                </g>
            </ul>
        </div>

        <div class="col-10">

            <div class="card" th:each="entry:${entries}">

                <div class="card-header m-0">

                    <div class="m-0" th:text="${entry.getUser().getName()}"></div>
                    <div class="m-0" th:text="${#dates.format(entry.getCreationDate(), 'dd. MMMM yyyy HH:mm')}"></div>

                </div>

                <div class="card-body">

                    <div class="container">
                        <div class="row ">
                            <div class="col-4">
                                <img class="img-fluid"
                                     th:src="@{'data:image/jpeg;base64,'+${entry.getImageAsString()}}"/>
                            </div>

                            <div class="col-8">
                                <h5 class="card-title"><a th:href="@{/entryView(entryId= ${entry.id})}"
                                                          th:text="${entry.getLatestTitle()}"></a></h5>
                                <div>
                                    <p th:text="${entry.getLatestTextCut()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-muted m-0"
                     th:if="${entry.getUser().getName() != entry.getLatestChanger().getName() ||
                     #dates.format(entry.getCreationDate(),'dd-MMM-yyyy hh-mm-ss') !=
                     #dates.format(entry.getLatestChangeDate(),'dd-MMM-yyyy hh-mm-ss')}">

                    <span class="m-0">zuletzt geändert: </span>

                    <div class="m-0" th:if="${entry.getUser().getName() != entry.getLatestChanger().getName()}"
                         th:text="${entry.getLatestChanger().getName()}"></div>
                    <div class="m-0"
                         th:if="${#dates.format(entry.getCreationDate(), 'dd-MMM-yyyy hh-mm-ss') != #dates.format(entry.getLatestChangeDate(), 'dd-MMM-yyyy hh-mm-ss')}"
                         th:text="${#dates.format(entry.getLatestChangeDate(), 'dd. MMMM yyyy HH:mm')}"></div>
                </div>


            </div>
        </div>

    </div>
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>